*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

/*  */

body{
  display: flex;
  flex-flow: column wrap;
  gap: 50px;
}

/*  */

.head,
.footer{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;

  background-color: #222222; 
}
.head .logo,
.footer .logo{
  display: flex;
}
.head .icon,
.footer .icon{
  width: 100px;
}
.head p,
.footer .logo p{
  display: flex;
  align-items: center;
  color: #E1E0D4;
  
  font-size: x-large;
  font-weight: bolder;
}
.head .links,
.footer .links{
  display: flex;
  align-items: center;
  gap: 10px;
}
.head a,
.footer a{
  color: #E1E0D4;
  text-decoration: none;
}

/*  */

.footer *{
  color: #E1E0D4;
}

.footer .credits{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

/*  */

.body{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  padding: 0px 20px;
}

/*  */
.hero{
  display: flex;
  flex-flow: row wrap;
}

.hero .container{
  display: flex;
  flex-flow: row wrap;
  gap: 50px; 
}

.hero .container .text-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 0;

  padding-right: 75px;
}

.hero .container p{
  text-align: left;
  font-size: xxx-large;
}

.hero .container .hero-text{
  font-weight: bolder;
}

.hero .container .hero-description{
  text-align: justify;
  font-size: xx-large;
}

.hero .container .img-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 0;
}

.hero .img-container .hero-img{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  justify-content: center;
}

.hero .container .img-container img{
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  justify-content: center;

  border: 0px solid black;
  border-radius: 10px;
}

/*  */

.calculator-container{
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}
.calculator-container .row{
  display: flex;
  gap: 10px;
}
.calculator-container .row input{
  border: 2px solid #222222;
  border-radius: 10px;

  width: 150px;
  height: 40px;
  padding: 10px;
}